

#shadow-test{
  text-shadow: 0px 0px 4px rgb(230, 13, 31)
              , 0px -5px 4px rgb(216, 90, 6)
              , 2px -10px 6px rgb(233, 201, 23)
              , -2px -15px 11px rgb(255, 70, 70)
              , 2px -19px 18px rgb(210, 243, 25);
}

/* ul{
  list-style-type: square;
  list-style-position: outside;
} */

ol{
  list-style-type: lower-roman;
}

ul{
  list-style-image: url(../resources/img/img.gif);
}